<%= form_for(@faq) do |form| %>

  <% if @faq.errors.full_messages.any? %>
      <div class="alert alert-danger" role="alert">
          <% @faq.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
      </div>
  <% end %>

  <p class="form">
    <%= form.label :Question %>
    <%= form.text_field :question, class: 'form-control', placeholder: 'Question' %>
  </p>

  <p class="form">
    <%= form.label :Answer %>
    <%= form.text_area :answer, rows: 10, class: 'form-control', placeholder: 'Answer' %>
  </p>

  <p class="form">
    <%= form.submit "Submit", class: 'button' %>
  </p>
<% end %>
