<tr>
  <th><i class="fa fa-file-text"></i> FAQ</th>
  <th>Question</th>
  <th>Answer</th>
  <th> Actions</th>
</tr>
<% @faqs.each.with_index(1) do |faq, key| %>
  <tr>
    <td class="title"><span class="faq-index"><%= key %>. Questions?</span></td>
    <td class="centered"><%= faq.question %></td>
    <td class="centered"><%= faq.answer %></td>
    <td class="action">
      <%= link_to '', edit_faq_path(faq), class: 'fa fa-edit fa-lg text-success' %>
      <%= link_to '', faq_path(faq), method: :delete, class: 'fa fa-trash fa-lg text-danger', data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
