<!-- Post -->
<% @blogs.each do |blog| %>
    <div class="post-container">
        <div class="post-img">

            <%= link_to blog_path(blog) do %>
                <% if blog.featured_image? %>
                    <%= image_tag blog.featured_image.url, width: '100%' %>
                <% else %>
                    <%= image_tag image_generator(height: '840', width: '430'), width: '100%' %>
                <% end %>
            <% end %>
            <div class="hover-icon">
            </div>
        </div>
        <div class="post-content">
            <%= link_to blog_path(blog) do %>
                <h3><%= blog.title %></h3>
            <% end %>
            <div class="meta-tags">
                <span><%= blog.created_at.strftime("%B %d, %Y") %></span>
            </div>
            <p><%= truncate(blog.content.html_safe, :length => 500, :escape => false, :separator => ' ') %></p>
            <%= link_to "Read More", blog_path(blog), class: 'button' %>
        </div>
    </div>
<% end %>
