<div class="px-3">
    <h2>Blogs</h2>
    <% if @role == 'admin' %>
        <div class="row">
            <div class="col-md-3">
                <%= link_to new_blog_path, class: 'btn btn-primary btn-block' do %>
                    <i class="fa fa-plus"></i> Add New Blog    
                <% end %>
            </div>
        </div>
        <br>
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="blog-section pl-3">
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left" >Title</th>
                            <th scope="col" class="text-center">Category</th>
                            <th scope="col" class="text-center">Tags</th>
                            <th scope="col" class="text-center">Published Date</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="blogs">
                        <% @blogs.each do |blog| %>
                            <tr>
                                <td class="text-left"><%= blog.title %></td>
                                <td class="text-center"><%=  %></td>
                                <td class="text-center"><%= %></td>
                                <td class="text-center">
                                    <%= blog.created_at.to_date %>
                                </td>
                                <td class="text-center">
                                    <%= link_to '', edit_blog_path(blog), class: 'fa fa-edit fa-lg text-success' %>
                                    <%= link_to '', blog_path(blog), method: :delete, class: 'fa fa-trash fa-lg text-danger', data: { confirm: 'Are you sure?' } %>
                                </td>  
                            </tr>
                        <% end %>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% else %>
        <div class="blog-section pl-3">
            <% @blogs.each do |blog| %>
                <div class="blog">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-primary"><%= blog.title %></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Posted on <span class="text-danger"><%= blog.created_at.to_date %></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <% if blog.featured_image? %>
                                <%= image_tag blog.featured_image.url, width: '100%' %>
                            <% else %>
                                <%= image_tag image_generator(height: '300', width: '300'), width: '100%' %>
                            <% end %>
                        </div>
                        <div class="col-md-9">
                            <div class="blog-content">
                                <%#= link_to truncate(blog.content.html_safe, :length => 1000), '' %>
                                <%= truncate(blog.content.html_safe, :length => 500, :escape => false, :separator => ' ') %>
                                <br>
                                <%= link_to "View Details", blog_path(blog) %>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            <% end %>
        </div>
    <% end %>
</div>