<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg header-image-recruiter">
  <div class="container">

    <div class="sixteen columns">
      <% if current_user.has_roles?(:superadmin) %>
        <h2>Checkout</h2>
      <% else %>
        <h2><i class="fa fa-list"></i> Your Jobs List</h2>
      <% end %>
    </div>

  </div>
</div>



<div class="container">

  <div class="my-account">

    <ul class="tabs-nav">
      <li class=""><a href="#tab1">Stripe</a></li>
      <li><a href="#tab2">PayPal</a></li>
    </ul>


    <div class="tabs-container">
      <!-- Login -->
      <div class="tab-content" id="tab1" style="display: none;">

        <%= form_tag("/checkout/stripe", method: "post") do %>


          <p class="form-row form-row-wide">
            <%= label_tag(:number) %>
            <%= text_field(:number, autofocus: true, autocomplete: "Credit Card Number")%>
          </p>

          <p class="form-row form-row-wide">
            <%= label_tag(:month) %>
            <%= month_field(:month, autofocus: true, autocomplete: "Credit Card Month") %>
          </p>

          <p class="form-row form-row-wide">
            <%= label_tag(:years) %>
            <%= number_field(:years, autofocus: true, autocomplete: "Credit Card Year") %>
          </p>


          <p class="form-row form-row-wide">
            <%= label_tag(:verification_value) %>
            <%= number_field(:verification_value, autofocus: true, autocomplete: " Credit Card Verification Value") %>
          </p>

          <hr>
           Customer Detail
          <hr>

          <p class="form-row form-row-wide">
            <%= label_tag(:name) %>
            <%= text_field(:name, autofocus: true, autocomplete: "Customer name") %>
          </p>

          <p class="form-row form-row-wide">
            <%= label_tag(:address1) %>
            <%= text_field(:address1, autofocus: true, autocomplete: "Customer name") %>
          </p>

          <p class="form-row form-row-wide">
            <%= label_tag(:city) %>
            <%= text_field(:city, autofocus: true, autocomplete: "Customer City") %>
          </p>

          <p class="form-row form-row-wide">
            <%= label_tag(:state) %>
            <%= text_field(:state, autofocus: true, autocomplete: "Customer State") %>
          </p>

          <p class="form-row form-row-wide">
            <%= label_tag(:zip) %>
            <%= text_field(:zip, autofocus: true, autocomplete: "Customer Zip") %>
          </p>
          <%= submit_tag("Submit") %>
        <% end %>

      </div>

      <!-- Register -->
      <div class="tab-content" id="tab2" style="display: none;">

        <%= form_tag("/checkout/paypal", method: "post") do %>

          <p class="form-row form-row-wide">
            <%= label_tag(:number) %>
            <%= text_field(:number, autofocus: true, autocomplete: "Credit Card Number") %>
          </p>

          <p class="form-row form-row-wide">
            <%= label_tag(:month) %>
            <%= month_field(:month, autofocus: true, autocomplete: "Credit Card Month") %>
          </p>

          <p class="form-row form-row-wide">
            <%= label_tag(:years) %>
            <%= number_field(:years, autofocus: true, autocomplete: "Credit Card Year") %>
          </p>


          <p class="form-row form-row-wide">
            <%= label_tag(:verification_value) %>
            <%= number_field(:verification_value, autofocus: true, autocomplete: " Credit Card Verification Value") %>
          </p>

          <p class="form-row form-row-wide">
            <%= label_tag(:type) %>
            <%= text_field(:type, autofocus: true, autocomplete: " Credit Card Type") %>
          </p>


          <hr>
          Customer Detail
          <hr>

          <p class="form-row form-row-wide">
            <%= label_tag(:first_name) %>
            <%= text_field(:first_name, autofocus: true, autocomplete: "Customer name") %>
          </p>

          <p class="form-row form-row-wide">
            <%= label_tag(:last_name) %>
            <%= text_field(:last_name, autofocus: true, autocomplete: "Customer name") %>
          </p>

          <%= submit_tag("Submit") %>
        <% end %>

      </div>


    </div>
  </div>
</div>