<!-- Content
================================================== -->
<div class="container">

  <!-- Submit Page -->
  <div class="sixteen columns">
    <div class="submit-page">
      <%= form_for(job) do |form| %>

      <!-- Errors Notice -->
      <% if job.errors.any? %>
        <ul>
          <% job.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>

        <!-- Job title -->
        <div class="form">
				  <%- array = JobTitle.where(status: true).map{|j| [j.title, j.title]}%>
				  <%- array = array << [job.title, job.title] if job.title.present?%>
          <%= form.label :"Job title" %>
        	<%= form.select :title, options_for_select(array, :selected => job.title), {:prompt => "-- Select or Type a new Job Title --"}, class: "form-control", id: "job_title_recruiter" %>
        </div>

        <!-- Type of Job -->
        <div class="form">
          <%= form.label :"Type of Job" %>
          <%= form.collection_select(:job_type_id, JobType.all, :id, :title, {selected: job.job_type_id}, class: 'chosen-select-no-single') %>
        </div>

        <!-- Job Area -->
        <div class="form">
          <h5>Job Area</h5>
          <%= form.collection_select(:job_area_id, JobArea.all, :id, :title, {selected: job.job_area_id}, class: 'chosen-select-no-single') %>
        </div>

        <!-- Salary -->
        <div class="form">
          <h5>What is the salary for this job per month (USD)</h5>
          <div class="container">
            <div class="five columns">
              <%= form.number_field :salary_min, class: 'search-field', placeholder: 'min' %>
            </div>
            <div class="five columns">
              <%= form.number_field :salary_max, class: 'search-field', placeholder: 'max' %>
            </div>
          </div>
        </div>


        <!-- Hires -->
        <div class="form">
          <h5>How many hires do you want to make for this position</h5>
          <%= form.number_field :hires, class: 'search-field' %>
        </div>

        <!-- Experience -->
        <div class="form">
          <h5>Requires Years of experience</h5>
          <%= form.number_field :experience, class: 'search-field' %>
        </div>

        <!-- Education -->
        <div class="form">
          <h5>Requires level of education</h5>
          <%= form.collection_select(:education_id, Education.all, :id, :title, {selected: job.education_id}, class: 'chosen-select-no-single') %>
        </div>

        <!-- Description -->
        <div class="form">
          <h5>Description (responsibilities of this job, work experience, skills and education)</h5>
          <%= form.text_area :description, rows:6, class: 'search-field' %>
        </div>

        <!-- Applicants will send to which emails -->
        <div class="form">
          <h5>Applicants will send to which emails</h5>
          <%= form.text_field :email, class: 'search-field' %>
        </div>

        <!-- Applicants will send to which address -->
        <div class="form">
          <h5>Applicants will send to which address</h5>
          <%= form.text_area :address, rows:2, class: 'search-field' %>
        </div>

        <!-- Expiry Date -->
        <div class="form">
          <h5>Expiry Date</h5>
          <%= form.date_field :expiry_date, class: 'search-field' %>
          <p class="note">Deadline for new applicants.</p>
        </div>

        <div class="form">
          <%- array = Plan.all.map{|plan| [plan.name, plan.name] }%>
          <%= form.select :plan, options_for_select(array, :selected => job.plan), {:prompt => "-- During “Add New Job” show this, Choose a plan that suits your need --"}, class: "form-control", id: "payment_plan_recruiter" %>
          <p class="note">Deadline for new applicants.</p>
        </div>

        <div class="form-group">
          <%= form.submit "Submit", class: 'button big margin-top-5' %>
        </div>

      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">

	$("#job_title_recruiter").select2({
  tags: true,
  createTag: function (params) {
    return {
      id: params.term,
      text: params.term,
      newOption: true
    }
  },
   templateResult: function (data) {
    var $result = $("<span></span>");

    $result.text(data.text);

    if (data.newOption) {
      $result.append(" <em>(new)</em>");
    }

    return $result;
  }
});

  $("#payment_plan_recruiter").select2({
      tags: true,
      createTag: function (params) {
          return {
              id: params.term,
              text: params.term,
              newOption: true
          }
      },
      templateResult: function (data) {
          var $result = $("<span></span>");

          $result.text(data.text);

          if (data.newOption) {
              $result.append(" <em>(new)</em>");
          }

          return $result;
      }
  });



</script>

<style type="text/css">
	.select2-selection{
		display: block !important;
	    width: 100%;
	    height: calc(2.25rem + 2px) !important;
	    padding: 0.375rem 0.75rem !important;
	    font-size: 1rem !important;
	    line-height: 1.5 !important;
	    color: #495057 !important;
	    background-color: #fff !important;
	    background-clip: padding-box !important;
	    border: 1px solid #ced4da !important;
	    border-radius: 0.25rem !important;
	    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
	}
</style>
