<%= form_for(job) do |form| %>
  <% if job.errors.any? %>
    <ul>
      <% job.errors.full_messages.each do |error| %>
        <li><%= error %><li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
				<%- array = JobTitle.where(status: true).map{|j| [j.title, j.title]}%>
				<%- array = array << [job.title, job.title] if job.title.present?%>
        <%= form.label :"Job title" %>
        	      <%= form.select :title, options_for_select(array, :selected => job.title), {:prompt => "-- Select or Type a new Job Title --"}, class: "form-control", id: "job_title_recruiter" %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :"Type of Job" %>
            <%= form.collection_select(:job_type_id, JobType.all, :id, :title, {selected: job.job_type_id}, class: 'form-control') %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :"Job Area" %>
            <%= form.collection_select(:job_area_id, JobArea.all, :id, :title, {selected: job.job_area_id}, class: 'form-control') %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= form.label "What is the salary for this job per month (USD)" %>
        <div class="row">
          <div class="col-md-6">
            <%= form.number_field :salary_min, class: 'form-control', placeholder: 'min' %>
          </div>
          <div class="col-md-6">
            <%= form.number_field :salary_max, class: 'form-control', placeholder: 'max' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :"How many hires do you want to make for this position" %>
        <%= form.number_field :hires, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :"Requires Years of experience" %>
        <%= form.number_field :experience, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :"Requires level of education" %>
        <%= form.collection_select(:education_id, Education.all, :id, :title, {selected: job.education_id}, class: 'form-control') %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :"Description (responsibilities of this job, work experience, skills and education)" %>
        <%= form.text_area :description, rows:6, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :"Applicants will send to which emails" %>
        <%= form.text_field :email, class: 'form-control', placeholder: 'E-mails separated by commas' %>
      </div>

      <div class="form-group">
        <%= form.label :"Applicants will send to which address" %>
        <%= form.text_area :address, rows:2, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :expiry_date %>
        <%= form.date_field :expiry_date, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.submit "Submit", class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">

	$("#job_title_recruiter").select2({
  tags: true,
  createTag: function (params) {
    return {
      id: params.term,
      text: params.term,
      newOption: true
    }
  },
   templateResult: function (data) {
    var $result = $("<span></span>");

    $result.text(data.text);

    if (data.newOption) {
      $result.append(" <em>(new)</em>");
    }

    return $result;
  }
});
</script>

<style type="text/css">
	.select2-selection{
		display: block !important;
	    width: 100%;
	    height: calc(2.25rem + 2px) !important;
	    padding: 0.375rem 0.75rem !important;
	    font-size: 1rem !important;
	    line-height: 1.5 !important;
	    color: #495057 !important;
	    background-color: #fff !important;
	    background-clip: padding-box !important;
	    border: 1px solid #ced4da !important;
	    border-radius: 0.25rem !important;
	    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
	}
</style>

