<tr style="text-align: center;">
  <td><%= job.id %></td>
  <td class="title"><%= link_to job.title, job %></td>
  <td><%= job.job_type.title %></td>
  <td><%= job.job_area.title %></td>
  <td><%= link_to "Show (#{applied_count(job)})", job_applicants_path(job.id), class: "button" %></td>
  <td><%= link_to "Show (#{not_aplied_count(job)})", job_invites_path(job.id), class: "button" %></td>
  <td>
    <a class="popup-with-zoom-anim button color" href="#small-dialog" >Open</a>
    <% @plan = Plan.find(job.plan_id) %>

    <% @order = Order.find_by(:job_id => job.id) %>

    <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
      <div class="row" style="text-align: center">
        <h2>Transaction Detail</h2>
      </div>
      <% if @order.present? %>
        <h4>Payment date:</h4>
        <p><%= @order.created_at.to_date %></p>

        <h4>Payment method:</h4>
        <p><%= @order.payment_method.titleize %></p>

        <h4>Credit Card:</h4>
        <% if @order.credit_card.present? %>
          <p> <%= "#{@order.credit_card.brand} xxxx#{@order.credit_card.digits}" %></p>
        <% else %>
          <p>-</p>
        <% end %>

        <h4>Plan Status:</h4>
        <p>Active</p>
        <% if @plan.present? %>
          <% if @plan.expired? %>
            <h2>Action:</h2>
            <%= link_to "Repost", edit_job_path(job.id), class: "button" %>
          <% end  %>
        <% end %>
      <%  else %>
        <p>Not Have Payments yet</p>
      <% end %>
    </div>



  </td>
  <td><%= job.created_at.strftime("%B %d, %Y") %></td>
  <td class="action">
    <%= link_to '', edit_job_path(job), class: 'fa fa-edit fa-lg index-icons' %>
    <%= link_to '', job_path(job), method: :delete, class: 'fa fa-trash fa-lg index-icons-tresh', data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
