<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>Manage Applicants</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><%= link_to 'Home', root_path %></li>
          <li>Applicants</li>
        </ul>
      </nav>
    </div>

  </div>
</div>


<!-- Content
================================================== -->
<div class="container">
  
  <!-- Table -->
  <div class="sixteen columns">
    <p class="margin-bottom-25" style="float: left;">The job applications for <strong><%= link_to @job.title, @job %></strong> are listed below.</p>
  </div>

  <!-- Applications -->
  <div class="sixteen columns">
    
    <!-- Applications -->
    <% @resumes.each do |resume| %>
      <div class="application">
        <div class="app-content">
          
          <!-- Name / Avatar -->
          <div class="info">
            <%= image_tag placeholder_img(resume.profile_pic, 'logo'), width: '100%', alt: "" %>
            <span><%= resume.first_name %> <%= resume.last_name %></span>
            <ul>
              <li><i class="fa fa-file-text"></i> 
              <%= resume.applied_jobs.find_by_job_id(@job.id).status %>
              </li>
              <li><i class="fa fa-envelope"></i> <%= resume.contact_information %></li>
              <li><i class="fa fa-money"></i> <%= resume.desired_salary_per_month %> / <%= resume.desired_salary_per_year %></li>
            </ul>
          </div>
          
          <!-- Buttons -->
          <div class="buttons">
            <%= link_to resume, class: "button gray" do %>
              <i class="fa fa-plus-circle"></i> Show Details
            <% end %>
          </div>

        </div>

        <!-- Footer -->
        <div class="app-footer">
          <strong>Education:</strong> <%= resume.degree %> / 
          <strong>Experience:</strong> <%= resume.work_experiences[0].years_of_experience if resume.work_experiences.count > 0 %> years

          <ul>
            <li>Date of application:</li>
            <li><i class="fa fa-calendar"></i> <%= AppliedJob.find_by_resume_id(resume.id).created_at.strftime("%B %d, %Y") %></li>
          </ul>
          <div class="clearfix"></div>

        </div>
      </div>
    <% end %>

  </div>
</div>