<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>Bookmarked Jobs</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><%= link_to 'Home', root_path %></li>
          <li>Bookmarked Jobs</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">

  <!-- Table -->
  <div class="sixteen columns">

    <p class="margin-bottom-25">Your bookmarked jobs can be viewed and unbookmarked below.</p>

    <table class="manage-table resumes responsive-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Company</th>
          <th scope="col">Type of Job</th>
          <th scope="col">Job Area</th>
          <th scope="col">Pay range USD</th>
          <th scope="col">Posted</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="jobs">
        <% @bookmarked_jobs.each do |bookmarked_job| %>
          <tr>
            <td><%= bookmarked_job.id %></td>
            <td class="title"><%= link_to bookmarked_job.title, bookmarked_job %></td>
            <td><%= bookmarked_job.user.companies[0].title %></td>
            <td><%= bookmarked_job.job_type.title %></td>
            <td><%= bookmarked_job.job_area.title %></td>
            <td><%= bookmarked_job.salary_min %> - <%= bookmarked_job.salary_max %></td>
            <td><%= bookmarked_job.created_at.strftime("%B %d, %Y") %></td>
            <td>
              <%= link_to '', unbookmark_job_path(job_id: bookmarked_job.id), class: 'fa fa-star fa-2x unbookmark', title: 'Unbookmark!', method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'Find more Jobs', alljobs_path, class: 'button' %>
  </div>
</div>
