<li><a href="#">Browse</a>
  <ul>
    <li><%= link_to 'Browse Jobs', alljobs_path, id: "#{active? alljobs_path}" %></li>
    <li><%= link_to 'Browse Companies', allcompanies_path, id: "#{active? allcompanies_path}" %></li>
    <li><%= link_to 'Browse Resumes', allresumes_path, id: "#{active? allresumes_path}" %></li>
    <li><%= link_to 'Browse Salaries', allsalaries_path, id: "#{active? allsalaries_path}" %></li>
    <li><%= link_to 'Blog', allblogs_path, id: "#{active? allblogs_path}" %></li>
    <li><%= link_to 'FAQ', allfaqs_path, id: "#{active? allfaqs_path}" %></li>
  </ul>
</li>
