<div class="margin-top-15"></div>

<div id="footer">
  <!-- Main -->
  <div class="container">

    <div class="seven columns">
      <h4>About</h4>
      <p>Oilfield Careers prides itself on being able to connect employers with quality candidates.  Your Needs, Drive Everything That We Do.</p>
      <%= link_to 'Get Started', "#{new_user_session_path}#tab2", class: "button" %>
    </div>

    <div class="three columns">
      <h4>Company</h4>
      <ul class="footer-links">
        <li><%= link_to 'Our Blog', allblogs_path %></li>
        <li><%= link_to 'FAQ', allfaqs_path %></li>
      </ul>
    </div>

    <div class="three columns">
      <h4>Get Started</h4>
      <ul class="footer-links">
        <li><%= link_to 'Sign Up', "#{new_user_session_path}#tab2" %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
      </ul>
    </div>

    <div class="three columns">
      <h4>Browse</h4>
      <ul class="footer-links">
        <li><%= link_to 'Browse Jobs', alljobs_path %></li>
        <li><%= link_to 'Browse Resumes', allresumes_path %></li>
        <li><%= link_to 'Browse Companies', allcompanies_path %></li>
        <li><%= link_to 'Browse Salaries', allsalaries_path %></li>

      </ul>
    </div>

  </div>

  <!-- Bottom -->
  <div class="container">
    <div class="footer-bottom">
      <div class="sixteen columns">
        <h4>Follow Us</h4>
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
          <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
          <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
        </ul>
        <div class="copyrights">©  Copyright 2018 by <a href="">Oilfield Careers</a>. All Rights Reserved.</div>
      </div>
    </div>
  </div>

</div>
