<ul id="responsive">
  <li><%= link_to 'Homepage', root_path, id: "#{active? root_path}" %></li>

  <%= render 'shared/browse_nav' %>

  <% if current_user.resumes.count == 0 %>
    <li><%= link_to 'Build your Resume', new_resume_path, id: "#{active? new_resume_path}" %></li>
  <% else %>
    <li><%= link_to 'View your Resume', resume_path(current_user.resumes.ids), id: "#{active? resume_path(current_user.resumes.ids)}" %></li>
  <% end %>

  <li><a href="#">Jobs</a>
    <ul>
      <li><%= link_to 'Applied Jobs', applied_jobs_path(current_user.id), id: "#{active? applied_jobs_path(current_user.id)}" %></li>
      <li><%= link_to 'Bookmarked Jobs', bookmarked_jobs_path, id: "#{active? bookmarked_jobs_path}" %></li>
      <li><%= link_to 'Subscribed Jobs', subscribed_jobs_path, id: "#{active? subscribed_jobs_path}" %></li>
      <li><%= link_to 'Job Alert', alert_path, id: "#{active? alert_path}" %></li>
    </ul>
  </li>

</ul>

<ul class="float-right">
  <li><%= link_to "I am #{interface_button}", toggle_interface_user_path(current_user) %></li>
  <li><%= link_to current_user.name, edit_user_registration_path %></li>
  <li>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-user"></i> Logout
    <% end %>
  </li>
</ul>
<% if current_user.resumes.count > 0 && current_user.has_invites? %>
  <%= render 'shared/invites' %>
<% end %>
