<ul id="responsive">
  <li><%= link_to 'Homepage', root_path, id: "#{active? root_path}" %></li>

  <%= render 'shared/browse_nav' %>

  <li><a href="#">Admin Dashboard</a>
    <ul>
      <li><%= link_to 'Job Statistics Settings', manage_job_stats_path, id: "#{active? manage_job_stats_path}" %></li>
      <li><%= link_to 'Job Posting Settings', settings_path, id: "#{active? settings_path}" %></li>
      <li><%= link_to 'Manage Job Seeker', manage_jobseeker_path, id: "#{active? manage_jobseeker_path}" %></li>
      <li><%= link_to 'Manage Recruiter', manage_recruiter_path, id: "#{active? manage_recruiter_path}" %></li>
      <li><%= link_to 'Job Spotlight', job_spotlight_path, id: "#{active? job_spotlight_path}" %></li>
      <li><%= link_to 'Manage Plans', manage_plans_path, id: "#{active? manage_plans_path}" %></li>
    </ul>
  </li>

</ul>

<ul class="float-right nav-desktop">
  <li><a href="#"><%= current_user.name %></a>
    <ul>
      <li><%= link_to 'Setup Profile', edit_user_registration_path %></li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-user"></i> Logout
        <% end %>
      </li>
    </ul>
  </li>
</ul>

<ul class="float-right nav-mobile">
  <li><%= link_to "#{current_user.name}", edit_user_registration_path %></li>
  <li>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-user"></i> Logout
    <% end %>
  </li>
</ul>
