<ul id="responsive">
  <li><%= link_to 'Homepage', root_path, class: "nav-link #{active? root_path}" %></li>

  <li><a href="#">Actions</a>
    <ul>
      <li><%= link_to 'Job Statistics Settings', manage_job_stats_path, class: "nav-link #{active? manage_job_stats_path}" %></li>
      <li><%= link_to 'Job Posting Settings', settings_path, class: "nav-link #{active? settings_path}" %></li>
      <li><%= link_to 'Manage Job Seeker', manage_jobseeker_path, class: "nav-link #{active? manage_jobseeker_path}" %></li>
      <li><%= link_to 'Manage Recruiter', manage_recruiter_path, class: "nav-link #{active? manage_recruiter_path}" %></li>
    </ul>
  </li>
  <li><%= link_to 'Blog', allblogs_path, class: "nav-link #{active? allblogs_path}" %></li>

  <li><%= link_to 'FAQ', allfaqs_path, class: "nav-link #{active? allfaqs_path}" %></li>
</ul>

<ul class="float-right">
  <li><%= link_to current_user.name, edit_user_registration_path %></li>
  <li>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-user"></i> Logout
    <% end %>
  </li>
</ul>
