<!-- Different header class for root_page and others
================================================== -->
<% if current_page?(root_path) || current_page?(find_resume_path) || current_page?(find_company_path) %>
  <header class="transparent sticky-header">
<% else %>
  <header class="sticky-header">
<% end %>

<!-- Different navs for different roles and interfaces
================================================== -->
  <div class="container">
    <div class="sixteen columns">

      <!-- Logo -->
      <div id="logo">
        <h1><%= link_to image_tag("logo.png", alt: "Work Scout"), root_path %><h1>
      </div>
      <!-- Menu -->
      <nav id="navigation" class="menu">
        <% if user_signed_in? %>

          <% if current_user.has_roles?(:superadmin) %>
            <%= render 'shared/nav_superadmin' %>
          <% else %>
            <% if current_user.interface == "jobseeker" %>
              <%= render 'shared/nav_jobseeker' %>
            <% else %>
              <%= render 'shared/nav_recruiter' %>
            <% end %>
          <% end %>

        <%# elsif current_page?(root_path) %>
        <% elsif current_page?(find_resume_path) %>
        <% elsif current_page?(find_company_path) %>
        <% else %>
          <ul id="responsive">
            <li><%= link_to 'Homepage', root_path, id: "#{active? root_path}" %></li>

            <%= render 'shared/browse_nav' %>

            <%# Add Blog and FAQ link %>
            <li><%= link_to 'Blog', allblogs_path, id: "#{active? allblogs_path}" %></li>
            <li><%= link_to 'FAQ', allfaqs_path, id: "#{active? allfaqs_path}" %></li>
          </ul>

          <ul class="float-right">
            <li>
              <%= link_to "#{new_user_session_path}#tab2" do %>
                <i class="fa fa-user"></i> Sign Up
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-lock"></i> Log In
              <% end %>
            </li>
          </ul>
        <% end %>
      </nav>

      <!-- Navigation -->
      <div id="mobile-navigation">
        <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
      </div>

    </div>
  </div>
</header>
<div class="clearfix"></div>
