<ul id="responsive">
  <li><%= link_to 'Homepage', root_path, id: "#{active? root_path}" %></li>

  <%= render 'shared/browse_nav' %>

  <li><a href="#">Recruiter Dashboard</a>
    <ul>
	    <li><%= link_to 'New Job', new_job_path, id: 'new_job_from_nav', id: "#{active? new_job_path}" %></li>
      <li><%= link_to 'Your Jobs', jobs_path, id: "#{active? jobs_path}" %></li>
      <% if current_user.companies.count == 0 %>
        <li><%= link_to 'Setup your Company', new_company_path, id: "#{active? new_company_path}" %></li>
      <% else %>
        <li><%= link_to 'View your Company', company_path(current_user.companies.ids), id: "#{active? company_path(current_user.companies.ids)}" %></li>
      <% end %>
      <li><%= link_to 'Bookmarked Resumes', bookmarked_resumes_path, id: 'new_job_from_nav', id: "#{active? bookmarked_resumes_path}" %></li>
    </ul>
  </li>

</ul>

<ul class="float-right">
  <li>
    <% if company_followers.present? %>
      <a href=""><%= company_followers %></a>
    <% else %>
      <a href="">0 followers</a>
    <% end %>
  </li>
  <li><a href="#">
        <% if current_user.name.present? %>
          <%= current_user.name %>
        <% else %>
          Enter Your Name
        <% end %>
      </a>
    <ul>
      <li><%= link_to "I am #{interface_button}", toggle_interface_user_path(current_user) %></li>
      <li>
        <%= link_to edit_user_registration_path do %>
          <% if current_user.name.present? %>
            Setup Profile
          <% else %>
            Enter Your Name
          <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-user"></i> Logout
        <% end %>
      </li>
    </ul>
  </li>
</ul>
