    <%= form_for(job_title) do |form| %>
      <% if job_title.errors.any? %>
        <ul>
          <% job_title.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form">
        <%= form.label "Job Title" %>
        <%= form.text_field :title, class: '' %>
      </div>


      <div class="form">
        <label>
          <%= form.check_box :status %> Active
        </label>
      </div>


      <div class="form">
        <%= form.submit "Submit", class: 'button' %>
      </div>
    <% end %>
