<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>Admin Login</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><%= link_to "Home", root_path %></li>
          <li>Admin Login</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

  <div class="my-account">

    <h3>Admin Login</h3>
    <%= form_for(:user, :url => session_path(:user)) do |f| %>

      <div class="form">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: '', placeholder: 'Email' %>
      </div>
      <br>
      <div class="form">
        <%= f.password_field :password, autocomplete: "off", class: '', placeholder: 'Password' %>
      </div>
      <div class="form">
        <%= f.submit 'Login', class: 'button border fw margin-top-10' %>
      </div>

    <% end %>

  </div>
</div>
