<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>Job Alert Settings</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><%= link_to 'Home', root_path %></li>
          <li>Job Alert Settings</li>
        </ul>
      </nav>
    </div>

  </div>
</div>


<!-- Content
================================================== -->

<!-- Categories -->
<div class="container">
  <div class="six columns">
    <h4>Criteria for the job alert.</h4>
    
    <table class="manage-table resumes responsive-table">
      <tr>
        <th><i class="fa fa-file-text"></i> Keyword:</th>
        <th></th>
      </tr>

      <!-- Item #1 -->
      <% @keywords.each do |k| %>
      <tr>
        <td><%= k.title %></td>
        <td class="action">
          <%= link_to '', edit_keyword_path(k), class: 'fa fa-edit fa-lg admin_icons' %>
          <%= link_to '', keyword_path(k), method: :delete, class: 'fa fa-trash fa-lg admin_icons', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </table>
  
    <%= link_to 'Add Keyword', new_keyword_path, class: 'button' if current_user.keyword.count < 1 %>
  </div>
</div>