<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg all-jobs-image">
  <div class="container">
    <div class="ten columns">
      <span>We have <%= Company.all.count %> companies:</span>
      <% if @filter_active %>
        <h2>Search Company Results</h2>
      <% else %>
        <h2>All Companies</h2>
      <% end %>
    </div>

    <div class="six columns">
      <% if user_signed_in? %>
        <%= link_to 'Post a Job, It’s Free!', new_job_path, class: 'button' %>
      <% else %>
        <%= link_to 'Post a Job, It’s Free!', "#{new_user_session_path}#tab2", class: 'button' %>
      <% end %>
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">
  <!-- Recent Jobs -->
  <div class="eleven columns">
  <div class="padding-right">

    <div class="listings-container">

      <!-- Listing -->

        <% if params[:q].present? %><h6>Results for: <i><%= params[:q] %></i></h6><% end %>
        <div class="info-cards">
          <% if @all_companies.size > 0 %>
            <%= render partial: 'all_company', collection: @all_companies %>
          <% else %>
            No results
          <% end %>
        </div>

    </div>
    <div class="clearfix"></div>

    <div class="pagination-container">
      <%= paginate @all_companies %>
    </div>

  </div>
  </div>

 <!-- Widgets -->
  <div class="five columns">

    <!-- Sort by -->

      <!-- Select -->
      <%= form_with method: :get, local: true, url: allcompanies_path, id: "filter-auto" do |f| %>
      <h4>Sort by</h4>
      <%= f.select :sort_by, options_for_select(Company::SORT_PARAMS.keys.collect{ |t| [t.humanize, t] }, params[:sort_by]), {}, class: "chosen-select-no-single" %>


    <!-- Filter -->
    <div class="widget">
      <h4>Filter:
        <% if @filter_active %>
          <span style="font-size: 15px;">
            <%= link_to "(clear)", allcompanies_path %>
          </span>
        <% end %>
      </h4>
    </div>

    <!-- Job title -->
    <div class="widget">
      <h4>
        <%= render "pages/partials/filter", arr: @all_companies.aggs['title'], form: f, title: "Company", name_inp: :title %>
      </h4>
    </div>

    <!-- Industry -->
    <div class="widget">
      <h4>
        <%= render "pages/partials/filter", arr: @all_companies.aggs['industry'], form: f, title: "Industry", name_inp: :industry %>
      </h4>
    </div>

    <!-- City -->
    <div class="widget">
      <h4>
        <%= render "pages/partials/filter", arr: @all_companies.aggs['city'], form: f, title: "City", name_inp: :city %>
      </h4>
    </div>

  <%= f.hidden_field :q, value: params[:q] %>
      <!--<%= f.submit "Update", class: "btn btn-primary", name: nil %>-->
    <% end %>

  </div>
  <!-- Widgets / End -->
</div>

<script>
$(document).on("turbolinks:load", function(){
  $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
})
</script>
