<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg header-image-admin">
  <div class="container">

    <div class="sixteen columns">
      <h2>Job Spotlight Settings</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><%= link_to 'Home', root_path %></li>
          <li>Job Spotlight Settings</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">



  <!-- Table -->
  <div class="sixteen columns">
    <h1>Jobs Spotlight</h1>
    <table class="manage-table resumes responsive-table">
      <thead>
        <tr style="text-align: center;">
          <th>Id</th>
          <th>Job Title</th>
          <th>Company</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="job_seekers">
        <% @spotlight_jobs.each do |job| %>
          <tr style="text-align: center;">
            <td><%= job.id %></td>
            <td class="title"><%= link_to job.title, job %></td>
            <td class="title"><%= link_to job.companies[0].title, company_path(job.companies[0].id) %></td>
            <td>
              <% if job.spotlight == true %>
                Active
              <% else %>
                No
              <% end %>
            </td>
            <td>
              <a href="#small-dialog" class="popup-with-zoom-anim button" style="display: none"  id="modal-click"></a>
                    <select class="change-action chosen-select-no-single" data-user-type="<%= @type %>">
                      <option value=""></option>
                      <% if job.spotlight == true %>
                          <option value="<%= change_spotlight_path(:id => job.id, :spotlight => 'remove') %>">Remove from Spotlight</option>
                      <% else %>
                          <option value="<%= change_spotlight_path(:id => job.id, :spotlight => 'add') %>">Add to Spotlight</option>
                      <% end %>
                      <option value="<%= change_spotlight_path(:id => job.id, :spotlight => 'delete') %>">Delete Job!</option>
                    </select>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <h1>All Jobs</h1>
    <table class="manage-table resumes responsive-table">
      <thead>
        <tr style="text-align: center;">
          <th>Id</th>
          <th>Job Title</th>
          <th>Company</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="job_seekers">
        <% @jobs.each do |job| %>
          <tr style="text-align: center;">
            <td><%= job.id %></td>
            <td class="title"><%= link_to job.title, job %></td>
            <td class="title"><%= link_to job.companies[0].title, company_path(job.companies[0].id) %></td>
            <td>
              <% if job.spotlight == true %>
                Active
              <% else %>
                No
              <% end %>
            </td>
            <td>
              <a href="#small-dialog" class="popup-with-zoom-anim button" style="display: none"  id="modal-click"></a>
                    <select class="change-action chosen-select-no-single" data-user-type="<%= @type %>">
                      <option value=""></option>
                      <% if job.spotlight == true %>
                          <option value="<%= change_spotlight_path(:id => job.id, :spotlight => 'remove') %>">Remove from Spotlight</option>
                      <% else %>
                          <option value="<%= change_spotlight_path(:id => job.id, :spotlight => 'add') %>">Add to Spotlight</option>
                      <% end %>
                      <option value="<%= change_spotlight_path(:id => job.id, :spotlight => 'delete') %>">Delete Job!</option>
                    </select>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination-container">
      <%= paginate @jobs %>
    </div>
    <%= render 'pages/partials/spotlight' %>
  </div>

</div>
<br>
