<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg header-image-admin">
  <div class="container">

    <div class="sixteen columns">
      <h2>Manage Recruiters</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><%= link_to 'Home', root_path %></li>
          <li>Manage Recruiters</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<div class="container">

  <!-- Table -->
  <div class="sixteen columns">

    <table class="manage-table resumes responsive-table">

      <thead>
        <tr style="text-align: center;">
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Company Name</th>
          <th>Joined Date</th>
          <th>Number of Job Posts</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="job_seekers">
        <% @recruiters.each.with_index(1) do |recruiter, key| %>
          <tr style="text-align: center;">
            <td><%= key %></td>
            <td><%= recruiter.name %></td>
            <td><%= recruiter.email %></td>
            <td>
              <% if recruiter.companies.count > 0 %>
                <%= link_to recruiter.company_name, company_path(recruiter.companies.first) %>
              <% end %>
            </td>
            <td><%= recruiter.created_at.to_date %></td>
            <td>
              <% if recruiter.jobs.count > 0 %>
                <%= link_to recruiter.number_of_jobs_post, show_jobs_path(recruiter.id) %>
              <% end %>
            </td>
            <td><%= recruiter.status == 'active' ? 'Active' : 'Suspended' %></td>
            <td>

              <a href="#small-dialog" class="popup-with-zoom-anim button" style="display: none"  id="modal-click"></a>

              <select class="change-action chosen-select-no-single" data-user-type="<%= @type %>">
                <option value=""></option>
                <% if recruiter.status == 'active' %>
                    <option value="<%= change_action_path(:id => recruiter.id, :status => 'suspend') %>">Suspend</option>
                <% else %>
                    <option value="<%= change_action_path(:id => recruiter.id, :status => 'lift_suspend') %>">Lift suspension</option>
                <% end %>
                <option value="<%= change_action_path(:id => recruiter.id, :status => 'delete') %>">Delete</option>
              </select>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination-container">
      <%= paginate @recruiters %>
    </div>
    <%= render 'pages/partials/modal' %>
  </div>
</div>
<br>
