<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg header-image-admin">
  <div class="container">

    <div class="sixteen columns">
      <h2>Manage JobSeekers</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><%= link_to 'Home', root_path %></li>
          <li>Manage JobSeekers</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">

  <!-- Table -->
  <div class="sixteen columns">
    <table class="manage-table resumes responsive-table">
      <thead>
        <tr style="text-align: center;">
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Joined_Date</th>
          <th>Resume Last Updated Date</th>
          <th>Number of Jobs Applied</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="job_seekers">
        <% @job_seekers.each.with_index(1) do |job_seeker, key| %>
          <tr style="text-align: center;">
            <td><%= key %></td>
              <% if job_seeker.resumes.count > 0
                job_applied = job_seeker.number_of_jobs_applied
              %>
                <td><%= link_to job_seeker.name, resume_path(job_seeker.resumes.ids) %></td>
                <td><%= job_seeker.email %></td>
                <td><%= job_seeker.created_at.to_date %></td>
                <td><%= job_seeker.resume_last_update %></td>
                <td>
                    <%= link_to_if job_applied > 0 , job_applied, applied_jobs_path(job_seeker.id) do %>
                        0
                    <% end %>
                </td>
              <% else %>
                <td><%= job_seeker.name %></td>
                <td><%= job_seeker.email %></td>
                <td><%= job_seeker.created_at.to_date %></td>
                <td></td>
                <td>0</td>
              <% end %>
                <td><%= job_seeker.status == 'active' ? 'Active' : 'Suspended' %></td>
                <td>

                    <a href="#small-dialog" class="popup-with-zoom-anim button" style="display: none"  id="modal-click"></a>
                    <%#= select("status", "", ["Suspend", "Delete"], { include_blank: true }) %>
                    <%#= select("status", "", ["Lift suspension", "Delete"], { include_blank: true }) %>

                    <select class="change-action chosen-select-no-single" data-user-type="<%= @type %>">
                      <option value=""></option>
                      <% if job_seeker.status == 'active' %>
                          <option value="<%= change_action_path(:id => job_seeker.id, :status => 'suspend') %>">Suspend</option>
                      <% else %>
                          <option value="<%= change_action_path(:id => job_seeker.id, :status => 'lift_suspend') %>">Lift suspension</option>
                      <% end %>
                      <option value="<%= change_action_path(:id => job_seeker.id, :status => 'delete') %>">Delete</option>
                    </select>
                </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render 'pages/partials/modal' %>
    <div class="pagination-container">
      <%= paginate @job_seekers %>
    </div>
  </div>

</div>
<br>
