<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg header-image-admin">
  <div class="container">

    <div class="sixteen columns">
      <h2>Manage Plans</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><%= link_to 'Home', root_path %></li>
          <li>Manage Plans</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">

  <!-- Job Types -->
  <div class="sixteen columns">
    <h1 class="margin-bottom-25" style="float: left;">Manage Plans</h1>
  </div>

  <div class="sixteen columns">
    <%= link_to new_plan_path, class: 'button gray' do %>
      <i class="fa fa-plus-circle"></i> Add new Plan
    <% end %>
  </div>


  <% @plans.each do |plan| %>
    <div class="eight columns">

      <div class="application">
        <div class="app-content">

          <div class="info">
            <span><%= plan.name %></span>
          </div>

          <div class="buttons">
            <%= link_to edit_plan_path(plan), class: 'button gray' do %>
              <i class="fa fa-pencil"></i> Edit
            <% end %>
            <%= link_to plan_path(plan), method: :delete, class: 'button gray', data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash"></i> Delete
            <% end %>
          </div>
          <div class="clearfix"></div>

        </div>
      </div>
    </div>
  <% end %>

</div>
