<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>Subscribed Jobs</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><%= link_to 'Home', root_path %></li>
          <li>Subscribed Jobs</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">
  
  <!-- Table -->
  <div class="sixteen columns">

    <h3 class="margin-bottom-25">Subscribed Jobs for keyword: "<%= @keywords[0].title %>"</h3>

    <table class="manage-table responsive-table">

      <tr>
        <th><i class="fa fa-file-text"></i> Title</th>
        <th><i class="fa fa-file-text"></i> Company</th>
        <th><i class="fa fa-check-square-o"></i> Type of Job</th>
        <th><i class="fa fa-check-square-o"></i> Job Area</th>
        <th><i class="fa fa-money"></i> Pay range USD</th>
        <th><i class="fa fa-calendar"></i> Posted Date</th>
        <th></th>
      </tr>
          
      <% @results.each do |result| %>
      <tr>
        <td class="title"><%= link_to result.title, job_path(result) %></td>
        <td><%= link_to result.user.companies[0].title, company_path(result.user.companies[0]) %></td>
        <td><%=result.job_type.title %></td>
        <td><%= result.job_area.title %></td>
        <td><%= result.salary_min %> - <%= result.salary_max %></td>
        <td><%= result.created_at %></td>
        <td>
          <% if current_user.bookmark_job?(result) %>
            <%= link_to '', unbookmark_job_path(job_id: result.id), class: 'fa fa-star fa-2x unbookmark', title: 'Unbookmark!', method: :delete %>
          <% else %>
            <%= link_to '', bookmark_job_path(job_id: result.id), class: 'fa fa-star fa-2x bookmark', title: 'Bookmark!' %>
          <% end %>
        </td>
      </tr>
      <% end %>

    </table>

  </div>

</div>