<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>Following List [Following <%= @companies.count %> Companies]</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><%= link_to 'Home', root_path %></li>
          <li>Following List</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">
  
  <!-- Applications -->
  <div class="eight columns">
    
    <% @companies.each do |company| %>
      <!-- Application #1 -->
      <div class="application">
        <div class="app-content">
          
          <!-- Name / Avatar -->
          <div class="info">
            <%= image_tag placeholder_img(company.logo, 'logo') %>
            <span><%= link_to company.title, company_path(company) %></span>
            <ul>
              <li><i class="fa fa-file-text"></i> Jobs <%= company.user.jobs.count %></li>
            </ul>
          </div>
          
          <!-- Buttons -->
          <div class="buttons">
            <%= link_to is_following(company), follow_unfollow_path(id: company.id), class: 'button gray' %>
          </div>
          <div class="clearfix"></div>

        </div>
      </div>
    <% end %>

  </div>
</div>