<!-- Content
================================================== -->

<!-- Categories -->
<div class="container">
	<div class="sixteen columns">
		<h3 class="margin-bottom-20 margin-top-10">Popular Categories</h3>

			<!-- Popular Categories -->
			<div class="categories-boxes-container">

				<!-- Box -->
				<%= link_to alljobs_path, class: "category-small-box" do %>
					<i class="ln ln-icon-Management"></i>
					<h4>Management</h4>
				<% end %>

				<!-- Box -->
				<%= link_to alljobs_path, class: "category-small-box" do %>
					<i class="ln ln-icon-Bar-Chart"></i>
					<h4>Sales and Marketing</h4>
				<% end %>

				<!-- Box -->
				<%= link_to alljobs_path, class: "category-small-box" do %>
					<i class="ln ln-icon-Notepad"></i>
					<h4>Logistic</h4>
				<% end %>

				<!-- Box -->
				<%= link_to alljobs_path, class: "category-small-box" do %>
					<i class="ln ln-icon-Financial"></i>
					<h4>Accounting and Finance</h4>
				<% end %>

				<!-- Box -->
				<%= link_to alljobs_path, class: "category-small-box" do %>
					<i class="ln ln-icon-Mens"></i>
					<h4>Human Resources</h4>
				<% end %>

				<!-- Box -->
				<%= link_to alljobs_path, class: "category-small-box" do %>
					<i class="ln ln-icon-Neutron"></i>
					<h4>Science and Technology</h4>
				<% end %>

				<!-- Box -->
				<%= link_to alljobs_path, class: "category-small-box" do %>
					<i class="ln ln-icon-Engineering"></i>
					<h4>Engineering</h4>
				<% end %>

				<!-- Box -->
				<%= link_to alljobs_path, class: "category-small-box" do %>
					<i class="ln ln-icon-Factory-2"></i>
					<h4>Manufacturing</h4>
				<% end %>

			</div>

		<div class="clearfix"></div>
		<div class="margin-top-30"></div>

		<%= link_to 'Browse All Categories', alljobs_path, class: 'button centered' %>
		<div class="margin-bottom-55"></div>
	</div>
</div>


<div class="container">

	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		<h3 class="margin-bottom-25">Recent Jobs</h3>
		<div class="listings-container">

			<!-- Listing -->
			<% @recent_jobs.each do |job| %>
				<%= link_to job, class: "listing #{job.job_type.title}" do %>
					<div class="listing-logo">
						<%= image_tag "job-list-logo-01.png", alt: "" %>
					</div>
					<div class="listing-title">
						<h4><%= job.title %> <span class="listing-type"><%= job.job_type.title %></span></h4>
						<ul class="listing-icons">
							<li><i class="ln ln-icon-Management"></i> <%= pluralize(job.experience, 'year') %></li>
				      <li><i class="ln ln-icon-Map2"></i> <%= job.first_company.city %></li>
				      <li><i class="ln ln-icon-Money-2"></i> $<%= job.salary_min %>-$<%= job.salary_max %></li>
				      <li><div class="listing-date new">
				        <% if job.updated_at < (Time.now - 1.days) %>
				          <%= job.updated_at.strftime("%B %d, %Y")%>
				        <% else %>
				          new
				        <% end %>
				      </div></li>
						</ul>
					</div>
				<% end %>
			<% end %>

		</div>

		<%= link_to alljobs_path, class: 'button centered' do %>
			<i class="fa fa-plus-circle"></i> Show More Jobs
		<% end %>
		<div class="margin-bottom-55"></div>
	</div>
	</div>

	<!-- Job Spotlight -->
	<div class="five columns">
		<h3 class="margin-bottom-5">Job Spotlight</h3>

		<!-- Navigation -->
		<div class="showbiz-navigation">
			<div id="showbiz_left_1" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
			<div id="showbiz_right_1" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
		</div>
		<div class="clearfix"></div>

		<!-- Showbiz Container -->
		<div id="job-spotlight" class="showbiz-container">
			<div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1" >
				<div class="overflowholder">

					<ul>
						<% @spotlight_jobs.each do |job| %>
							<li>
								<div class="job-spotlight">
									<%= link_to job do %>
									<h4><%= job.title %> <span class="<%= job.job_type.title %>"><%= job.job_type.title %></span></h4>
										<% end %>
									<span><i class="fa fa-briefcase"></i> <%= pluralize(job.experience, 'year') %></span>
									<span><i class="fa fa-map-marker"></i> <%= job.first_company.city %></span>
									<span><i class="fa fa-money"></i> $<%= job.salary_min %>-$<%= job.salary_max %></span>
									<p><%= truncate(job.description.html_safe, :length => 55, :escape => false, :separator => ' ') %></p>
									<%= link_to 'Apply For This Job', job, class: "button" %>
								</div>
							</li>
						<% end %>
					</ul>
					<div class="clearfix"></div>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>

	</div>
</div>

<!-- Jobseeker / Recruiter -->
<!--
<div class="container-fluid">
	<div class="wrap" style="float:left; min-width: 400px;">
	  <div class="wrap-img darkened">
	  	<%# image_tag 'parallax1.jpg' %>
	    <div class="middle">
	    <p style="font-size: 30px;">I AM A RECRUITER</p>
	    <div class="mixplat_operators">
	    	<p>Your next hire is here.</p>
	    </div>
	    <%# link_to 'Post new job', new_job_path, class: 'button' %>
	  	</div>
	  </div>
	</div>
	<div class="wrap" style="float:right; min-width: 400px;">
	  <div class="wrap-img greened">
	  	<%# image_tag 'parallax2.jpg' %>
	    <div class="top-left" align="right">
	    	<p style="font-size: 30px;">I AM A JOBSEEKER</p>
	    	<div class="mixplat_operators">
	    		<p>Find the latest oil and gas jobs with us.</p>
	    	</div>
	    	<p><%# link_to 'Browse Jobs', alljobs_path, class: 'button' %></p>
	    </div>
	  </div>
	</div>
</div>

<section class="fullwidth-testimonial margin-top-15">
-->

	<!-- Info Section -->
	<div class="container">
		<div class="sixteen columns">
<br>
			<h3 class="headline centered">
				What Our Users Say 😍
				<span class="margin-top-25">We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!</span>
			</h3>
		</div>
	</div>
	<!-- Info Section / End -->

	<!-- Testimonials Carousel -->
	<div class="fullwidth-carousel-container margin-top-20">
		<div class="testimonial-carousel testimonials">

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial">One of the things that we really enjoy about JobFound! is that its simple and easy to get the listing out which helps to alleviate some of the stress related to hiring</div>
				</div>
				<div class="testimonial-author">
					<%= image_tag "resumes-list-avatar-03.png", alt: "" %>
					<h4>John Doe <span>HR Manager</span></h4>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial">Thanks to JobFound! I Found an employer that promotes work life balance. I am very grateful and satisfied for the service provided by JobFound!<br></div>
				</div>
				<div class="testimonial-author">
					<%= image_tag "resumes-list-avatar-02.png", alt: "" %>
					<h4>Jane Doe <span>Jobseeker</span></h4>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial">JobFound! is easy to use and can adjust the area where you are looking. You can build your resume and apply directly to any job that you are interested.<br></div>
				</div>
				<div class="testimonial-author">
					<%= image_tag "resumes-list-avatar-01.png", alt: "" %>
					<h4>Peter Doe <span>Jobseeker</span></h4>
				</div>
			</div>

		</div>
	</div>
	<!-- Testimonials Carousel / End -->

</section>



<!-- Flip banner -->
<a href="/alljobs" class="flip-banner margin-bottom-55" data-background=" <%= asset_path 'all-categories-photo.jpg' %>" data-color="#26ae61" data-color-opacity="0.93">
	<div class="flip-banner-content">
		<h2 class="flip-visible">Step inside and see for yourself!</h2>
		<h2 class="flip-hidden">Get Started <i class="fa fa-angle-right"></i></h2>
	</div>
</a>
<!-- Flip banner / End -->


<!-- Recent Posts -->
<div class="container">
	<div class="sixteen columns">
		<h3 class="margin-bottom-25">Recent Posts</h3>
	</div>

	<% @recent_posts.each do |blog| %>
		<div class="one-third column">

			<!-- Post #1 -->
			<div class="recent-post">
				<div class="recent-post-img">
					<%= link_to blog_path(blog) do %>
						<% if blog.featured_image? %>
	            <%= image_tag(blog.featured_image.url, style:"height: 250px; width: 380px;") %>
	          <% else %>
	            <%= image_tag image_generator(height: '498', width: '315'), width: '100%' %>
	          <% end %>
					<% end %><div class="hover-icon"></div>
				</div>
				<%= link_to blog_path(blog) do %>
          <h4><%= blog.title %></h4>
        <% end %>
				<div class="meta-tags">
					<span><%= blog.published_at.strftime("%B %d, %Y") if blog.published_at? %></span>
				</div>
				<p><%= truncate(blog.content.html_safe, :length => 150, :escape => false, :separator => ' ') %></p>
				<%= link_to "Read More", blog_path(blog), class: 'button' %>
			</div>

		</div>
	<% end %>

</div>
