<%= form_for(company) do |form| %>
  <% if company.errors.any? %>
    <ul>
      <% company.errors.full_messages.each do |error| %>
        <li><%= error %><li>
      <% end %>
    </ul>
  <% end %>

      <div class="form">
        <label class="button gray">
          Upload Company Logo <%= form.file_field :logo, style: 'display:none;' %>
        </label>
      </div>

      <div class="form">
        <h5>Company name</h5>
        <%= form.text_field :title, class: '' %>
      </div>

      <div class="form">
        <h5>Hires per year</h5>
        <%= form.number_field :hires_per_year, class: '' %>
      </div>

      <div class="form">
        <h5>Name</h5>
        <%= form.text_field :name, class: '' %>
      </div>

      <div class="form">
        <h5>Phone</h5>
        <%= form.text_field :phone, class: '' %>
      </div>

      <div class="form">
        <h5>Country</h5>
        <%= form.text_field :country, class: '' %>
      </div>

      <div class="form">
        <h5>City / postal code</h5>
        <div class="container">
          <div class="column">
            <%= form.text_field :city, class: '' %>
          </div>
          <div class="column">
            <%= form.number_field :postal_code, class: '' %>
          </div>
        </div>
      </div>

      <div class="form">
        <h5>Payment info</h5>
        <%= form.text_area :payment_info, rows:2, class: '' %>
      </div>

      <div class="form">
        <h5>About</h5>
        <%= form.text_area :about, rows:2, class: '' %>
      </div>

      <div class="form">
        <h5>Why join us</h5>
        <%= form.text_area :why_join_us, rows:2, class: '' %>
      </div>

      <div class="form">
        <h5>Website</h5>
        <%= form.text_field :website, class: '' %>
      </div>

      <div class="form">
        <h5>Industry</h5>
        <%= form.text_field :industry, class: '' %>
      </div>

      <div class="form">
        <h5>Number of employee</h5>
        <%= form.number_field :number_of_employee, class: '' %>
      </div>

      <div>
        <h4>Photos:</h4>
        <div>
          <%= form.fields_for :photos do |photo_form| %>
            <%= render 'photo_fields', f: photo_form %>
          <% end %>
          <div>
            <%= link_to_add_association form, :photos, class: 'button gray add-url add-box' do %>
              <i class="fa fa-plus-circle"></i> Add Photo
            <% end %>
          </div>
        </div>
      </div>

  <div class="form">
    <%= form.submit "Submit", class: 'button' %>
  </div>
<% end %>
