<!-- Titlebar
================================================== -->
<div id="titlebar">
  <div class="container">
    <div class="ten columns">
      <h2><%= @company.title %> <span class="full-time"><%= @company.industry %></span></h2>
      <span>
        <div class="container">
          <h4><div class="star-rating" data-score= <%= @avg_rating %> ><%= @avg_rating %> </div></h4>

        </div>
      </span>
    </div>

    <div class="six columns">
      <div class="two-buttons">
        <%= link_to new_company_review_path(@company), class: 'button' do %>
          <i class="fa fa-star"></i> Review this Company
        <% end %>
        <br>
        <%= link_to (@company.reviews.count.to_s + " reviews"), company_reviews_path(@company), class: 'button dark' %>
      </div>
    </div>

  </div>
</div>


<!-- Content
================================================== -->
<div class="container">

  <!-- Recent Jobs -->
  <div class="eleven columns">
  <div class="padding-right">

    <!-- Company Info -->
    <div class="company-info">
      <%= image_tag placeholder_img(@company.logo, 'logo'), width: '100%' %>
      <div class="content">
        <h4><%= @company.title %></h4>
        <span>
          <%= link_to "http://#{@company.website}", target: :_blank do %>
            <i class="fa fa-link"></i> Website
          <% end %>
        </span>
        <span><i class="fa fa-phone"></i> <%= @company.phone %></span>
        <span><i class="fa fa-map-marker"></i> <%= @company.country %> / <%= @company.city %> / <%= @company.postal_code %></span>
      </div>
      <div class="clearfix"></div>
    </div>

    <h5>About us:</h5>
    <p class="margin-reset">
      <%= @company.about %>
    </p>

    <br>
    <h5>Why join us:</h5>
    <p><%= @company.why_join_us %></p>

    <h5>Photos:</h5>
    <div class="eleven columns">
      <% @company.photos.each do |photo| %>
        <div class="ten columns company-photo">
          <%= image_tag photo.source, width: '100%' %>
          <br>
        </div>
      <% end %>
    </div>

  </div>
  </div>


  <!-- Widgets -->
  <div class="five columns">

    <!-- Sort by -->
    <div class="widget">
      <h4>Overview</h4>

      <div class="job-overview">

        <ul>
          <li>
            <i class="fa fa-map-marker"></i>
            <div>
              <strong>Hires per year</strong>
              <span><%= @company.hires_per_year %></span>
            </div>
          </li>
          <li>
            <i class="fa fa-user"></i>
            <div>
              <strong>Number of employee</strong>
              <span><%= @company.number_of_employee %></span>
            </div>
          </li>
          <li>
            <i class="fa fa-clock-o"></i>
            <div>
              <strong>Name</strong>
              <span><%= @company.name %></span>
            </div>
          </li>
          <li>
            <i class="fa fa-money"></i>
            <div>
              <strong>Payment info</strong>
              <span><%= @company.payment_info %></span>
            </div>
          </li>
        </ul>

        <%= link_to 'Edit Company', edit_company_path(@company), class: 'button' if user_signed_in? && current_user.company_ids[0] == @company.id %>
        <%= link_to is_following(@company), follow_unfollow_company_path(@company), class: 'button' %>

      </div>

    </div>

  </div>
  <!-- Widgets / End -->


</div>

<div class="container">

  <!-- Jobs, available for this company -->
  <h3>Jobs, available for this company:</h3>
  <div class="sixteen columns">
    <table class="manage-table resumes responsive-table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Type of Job</th>
          <th scope="col">Job Area</th>
          <th scope="col">Pay range USD</th>
          <th scope="col">Posted at</th>
          <th scope="col">Expiry Date</th>
          <% if user_signed_in? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody id="jobs">
        <% @company.user.jobs.each do |job| %>
          <tr>
            <td><%= link_to job.title, job %></td>
            <td><%= job.job_type.title %></td>
            <td><%= job.job_area.title %></td>
            <td><%= job.salary_min %> - <%= job.salary_max %></td>
            <td><%= job.updated_at.strftime("%B %d, %Y") %></td>
            <td><%= job.expiry_date.strftime("%B %d, %Y") if !job.expiry_date.blank? %></td>
            <% if user_signed_in? %>
              <td>
                <% if current_user.bookmark_job?(job) %>
                  <%= link_to '', unbookmark_job_path(job_id: job.id), class: 'fa fa-star fa-lg unbookmark', title: 'Unbookmark!', method: :delete %>
                <% else %>
                  <%= link_to '', bookmark_job_path(job_id: job.id), class: 'fa fa-star fa-lg bookmark', title: 'Bookmark!' %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
