<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg header-image-non-login">
  <div class="container">

    <div class="sixteen columns">
      <h2>My Account</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><%= link_to "Home", root_path %></li>
          <li>My Account</li>
        </ul>
      </nav>
    </div>

  </div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

  <div class="my-account">

    <ul class="tabs-nav">
      <li class=""><a href="#tab1">Login</a></li>
      <li><a href="#tab2">Register</a></li>
    </ul>

    <div class="tabs-container">
      <!-- Login -->
      <div class="tab-content" id="tab1" style="display: none;">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'login') do |f| %>

          <p class="form-row form-row-wide">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </p>

          <p class="form-row form-row-wide">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", id: "password" %>
          </p>

          <p class="form-row">
          <%= f.submit "Login", class: "button border fw margin-top-10" %>

            <% if devise_mapping.rememberable? -%>
              <label for="rememberme" class="rememberme">
              <%= f.check_box :remember_me, id: "rememberme", value: "forever" %> Remember Me</label>
            <% end -%>
          </p>

          <p class="lost_password">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Lost Your Password?", new_password_path(resource_name) %><br />
            <% end -%>
          </p>

          <%# render "devise/shared/links" %>
        <% end %>
      </div>

      <!-- Register -->
      <div class="tab-content" id="tab2" style="display: none;">

          <!--
          <p class="form-row" style="width: 100%;">
            <%= link_to "I am a Recruiter", new_user_with_interface_path(:initial_interface => 'recruiter'), class: "button border fw margin-top-10" %>

            <%= link_to "I am a Jobseeker", new_user_with_interface_path(:initial_interface => 'jobseeker'), class: "button border fw margin-top-10" %>
          </p>
          -->

                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'register') do |f| %>
                    <%= devise_error_messages! %>

                    <p class="form-row form-row-wide">
                      <%= f.label :email %>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                    </p>

                    <p class="form-row form-row-wide">
                      <%= f.label :password %>
                      <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off" %>
                    </p>

                    <p class="form-row form-row-wide">
                      <%= f.label :password_confirmation %>
                      <%= f.password_field :password_confirmation, autocomplete: "off" %>
                    </p>

                    <p class="form-row form-row-wide">
                      <label class="form">
                        <h6><%= f.radio_button :interface, 'recruiter' %> I am a Recruiter</h6>
                      </label>
                      <label>
                        <%= f.radio_button :interface, 'jobseeker' %> I am a Jobseeker
                      </label>
                    </p>

                    <%# f.text_field :initial_interface, :value => params[:initial_interface] %>

                    <p class="form-row">
                      <%= f.submit "Sign up", class: 'button border fw margin-top-10', value: "Register" %>
                    </p>
                  <% end %>

                  <%# render "devise/shared/links" %>





      </div>
    </div>
  </div>
</div>

