<div class="row">
  <div class="col-md-4">
    <%= form_for(keyword) do |form| %>
      <% if keyword.errors.any? %>
        <ul>
          <% keyword.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form">
        <%= form.label :"Job Type Title" %>
        <%= form.text_field :title, class: '' %>
      </div>
      <br>
      <div class="form">
        <%= form.submit "Submit", class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
