<%= form_for(job_area) do |form| %>
  <% if job_area.errors.any? %>
    <ul>
      <% job_area.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form">
    <%= form.label "Job Area Title" %>
    <%= form.text_field :title, class: '' %>
  </div>
  <br>
  <div class="form">
    <%= form.submit "Submit", class: 'button' %>
  </div>
<% end %>
