<%= form_for [@company, review] do |form| %>
  <% if review.errors.any? %>
    <ul>
      <% review.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <h3>Rate this company:</h3>
  <div class="form container">
    <%= form.label :"Job work / Life Balance", class: 'four columns form-control-label' %>
    <div class="five columns" id="balance"></div>
  </div>

  <div class="form container">
    <%= form.label :"Compensation / Benefits", class: 'four columns form-control-label' %>
    <div class="five columns" id="benefits"></div>
  </div>

  <div class="form container">
    <%= form.label :"Job Security / Advancement", class: 'four columns form-control-label' %>
    <div class="five columns" id="advancement"></div>
  </div>

  <div class="form container">
    <%= form.label :management, class: 'four columns form-control-label' %>
    <div class="five columns" id="management"></div>
  </div>

  <div class="form container">
    <%= form.label :"Job Culture", class: 'four columns form-control-label' %>
    <div class="five columns" id="culture"></div>
  </div>

  <br>
  <div class="form container">
    <%= form.label :"Would you recommend working at '#{@company.title}' to a friend?" %>
    
    <label class="three columns">
    <%= form.radio_button :question1, 'yes' %> Yes
    </label>

    <label class="three columns">
    <%= form.radio_button :question1, 'no' %> No
    </label>
  </div>

  <br>
  <div class="form">
    <%= form.label :"How likely is it that you would recommend '#{@company.title}' as a place to work? (0 = Not at all likely; 10 = Extremely likely)" %>
    <label class="one columns">
      <%= form.radio_button :question2, '0' %> 0
    </label>
    <label class="one columns">
      <%= form.radio_button :question2, '1' %> 1
    </label>
    <label class="one columns">
      <%= form.radio_button :question2, '2' %> 2
    </label>
    <label class="one columns">
      <%= form.radio_button :question2, '3' %> 3
    </label>
    <label class="one columns">
      <%= form.radio_button :question2, '4' %> 4
    </label>
    <label class="one columns">
      <%= form.radio_button :question2, '5' %> 5
    </label>
    <label class="one columns">
      <%= form.radio_button :question2, '6' %> 6
    </label>
    <label class="one columns">
      <%= form.radio_button :question2, '7' %> 7
    </label>
    <label class="one columns">
      <%= form.radio_button :question2, '8' %> 8
    </label>
    <label class="one columns">
      <%= form.radio_button :question2, '9' %> 9
    </label>
    <label class="one columns">
      <%= form.radio_button :question2, '10' %> 10
    </label>
  </div>

  <br><br>
  <div class="form">
    <%= form.label :"How would you describe the working culture at '#{@company.title}'?" %>
    <label class="two columns">
      <%= form.radio_button :question3, 'relaxed' %> Relaxed
    </label>
    <label class="two columns">
      <%= form.radio_button :question3, 'quick_paced' %> Quick-paced
    </label>
    <label class="two columns">
      <%= form.radio_button :question3, 'stressful' %> Stressful
    </label>
    <label class="two columns">
      <%= form.radio_button :question3, 'collaborative' %> Collaborative
    </label>
    <label class="two columns">
      <%= form.radio_button :question3, 'competitive' %> Competitive
    </label>
    <label class="two columns">
      <%= form.radio_button :question3, 'slow_paced' %> Slow-paced
    </label>
    <label class="two columns">
      <%= form.radio_button :question3, 'cut_throat' %> Cut-throat
    </label>
  </div>

  <br><br>
  <div class="form">
    <%= form.label :"Do you think you are paid fairly at '#{@company.title}'?" %>
    <label class="three columns">
      <%= form.radio_button :question4, 'yes!' %> Yes
    </label>
    <label class="three columns">
      <%= form.radio_button :question4, 'no!' %> No
    </label>
  </div>

  <br><br>
  <div class="form-group">
    <%= form.label :"What was your employment status at '#{@company.title}'?" %>
    <label class="two columns">
      <%= form.radio_button :question5, 'full_time' %> Full-time
    </label>
    <label class="two columns">
      <%= form.radio_button :question5, 'part_time' %> Part-time
    </label>
    <label class="two columns">
      <%= form.radio_button :question5, 'contract' %> Contract
    </label>
    <label class="two columns">
      <%= form.radio_button :question5, 'intern' %> Intern
    </label>
    <label class="three columns">
      <%= form.radio_button :question5, 'nothing' %> Nothing is applicable
    </label>
  </div>

  <br><br>
  <div class="form-group">
    <%= form.label :"Write your review:" %>
    <%= form.text_area :description, rows:3, class: 'form-control' %>
  </div>

  <h3>Tell us about you:</h3>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :job_title %>
        <%= form.text_field :job_title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :location %>
        <%= form.text_field :location, class: 'form-control' %>
      </div>

    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :start_date %>
        <%= form.date_field :start_date, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :end_date %>
        <%= form.date_field :end_date, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<script>
$('#balance').raty({
    path: '/assets',
    scoreName: 'review[balance]'
});
$('#benefits').raty({
    path: '/assets',
    scoreName: 'review[benefits]'
});
$('#advancement').raty({
    path: '/assets',
    scoreName: 'review[advancement]'
});
$('#management').raty({
    path: '/assets',
    scoreName: 'review[management]'
});
$('#culture').raty({
    path: '/assets',
    scoreName: 'review[culture]'
});
</script>
