<li><%# link_to company_review_path(@company, review.id) do %>
  <%= image_tag 'resumes-list-avatar-03.png' %>
  <div class="resumes-list-content">
    <div>
      <div class="column">
      <h3><%= review.average %></h3>
    </div>
      <div class="column">
      <div class="star-rating review" data-score= <%= review.average %> > </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <h4><%= review.name %> <span>
                            <%= review.job_title %>
                              (
                                <% if review.end_date.present? %>
                                Former Employee
                                <% else %>
                                Current Employee
                                <% end %>
                              )
                            </span>
    </h4>

    <div class="skills">
      <span><i class="fa fa-map-marker"></i> <%= review.location %></span>
      <span><%= review.created_at.strftime("%B %d, %Y") if review.created_at.present? %></span>
    </div>
    <div class="clearfix"></div>

    <span><%= review.description %></span>
  </div>
  <%# end %>
  <div class="clearfix"></div>
</li>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
