<!-- Content
================================================== -->
<div class="container">

  <!-- Submit Page -->
  <div class="sixteen columns">
    <div class="submit-page">

      <%= form_for(resume) do |form| %>
        <% if resume.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

            <ul>
            <% resume.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <!-- Personal details -->
        <h3>Personal details</h3>
        <div class="form">
          <h5>First name</h5>
          <%= form.text_field :first_name %>
        </div>

        <div class="form">
          <h5>Last Name</h5>
          <%= form.text_field :last_name %>
        </div>

        <div class="form">
          <h5>Country</h5>
          <%= form.text_field :country %>
        </div>

        <div class="form">
          <h5>City</h5>
          <%= form.text_field :city %>
        </div>

        <div class="form">
          <h5>Contact information</h5>
          <%= form.text_area :contact_information, placeholder: "email:  etc." %>
        </div>

        <div class="form">
          <h5>Phone</h5>
          <%= form.text_field :phone %>
        </div>

        <div class="form">
          <div class="container">
            <div class="columns">
              <label for="status" class="rememberme">
                <%= form.radio_button :status, 'private_resume' %> Private Resume
              </label>
            </div>

            <div class="columns">
              <label for="status" class="rememberme">
                <%= form.radio_button :status, 'public_resume' %> Public Resume
              </label>
            </div>
          </div>
        </div>

<hr>
        <!-- Education -->
        <h3>Education</h3>

        <div class="form">
          <h5>Degree</h5>
          <%= form.text_field :degree %>
        </div>

        <div class="form">
          <h5>School</h5>
          <%= form.text_field :school %>
        </div>

        <div class="form">
          <h5>Field of Study</h5>
          <%= form.text_field :field_of_study %>
        </div>

        <div class="form">
          <h5>Education Country</h5>
          <%= form.text_field :education_country %>
        </div>

        <div class="form">
          <h5>Education City</h5>
          <%= form.text_field :education_city %>
        </div>

        <div class="form">
          <div class="container">
            <div class="columns">
              <h5>Education start date</h5>
              <%= form.date_field :education_start_date %>
            </div>

            <div class="columns">
              <h5>Education end date</h5>
              <%= form.date_field :education_end_date %>
            </div>
          </div>
        </div>

        <!-- Work Experience -->

        <div class="form with-line">
        <h3>Work Experience</h3>
          <%= form.fields_for :work_experiences do |work_experience_form| %>
            <%= render 'work_experience_fields', f: work_experience_form %>
          <% end %>
          <div class="form-inside">
            <%= link_to_add_association form, :work_experiences, class: 'button gray add-url add-box' do %>
              <i class="fa fa-plus-circle"></i> Add Work Experience
            <% end %>
          </div>
        </div>

        <!-- Additional information -->
        <h3>Additional information</h3>

        <div class="form">
          <h5>Desired Job Title</h5>
          <%= form.text_field :desired_job_title %>
        </div>

        <div class="form">
          <h5>Desired job types</h5>
          <div class="container">
            <%= form.collection_check_boxes :job_type_ids, JobType.all, :id, :title do |b| %>
              <div class="collection-check-box">
                <div class="columns">
                    <%= b.check_box %>
                    <%= b.label %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="form">
          <h5>Desired salary USD</h5>
          <div class="container">
            <div class="columns">
              <%= form.number_field :desired_salary_per_month, placeholder: 'per month', class: '' %>
            </div>
            <div class="columns">
              <%= form.number_field :desired_salary_per_year, placeholder: 'per year', class: '' %>
            </div>
          </div>
        </div>

        <div class="form">
          <h5>Employment eligibility</h5>
          <div class="container">
            <div class="columns">
              <label for="employment_eligibility" class="rememberme">
                <%= form.radio_button :employment_eligibility, 'authorized' %> Authorized to work in the country where you located
              </label>
            </div>

            <div class="columns">
              <label for="employment_eligibility" class="rememberme">
                <%= form.radio_button :employment_eligibility, 'sponsorship' %> Sponsorship required to work in the country
              </label>
            </div>
          </div>
        </div>

        <div class="form">
          <label for="employment_eligibility" class="rememberme">
            <%= form.check_box :relocation %> I am willing to relocate
          </label>
        </div>

        <div class="form">
          <h5>Additional information (text)</h5>
          <%= form.text_area :additional_information_step_4 %>
        </div>


        <!-- Add more fields -->
        <h3>Add more fields</h3>

        <!-- Skills -->
        <div class="form with-line">
        <h3>Skills</h3>
          <%= form.fields_for :skills do |skills_form| %>
            <%= render "/resumes/skill_fields", f: skills_form %>
          <% end %>
          <div class="form-inside">
            <%= link_to_add_association form, :skills, class: 'button gray add-url add-box' do %>
              <i class="fa fa-plus-circle"></i> Add Skill
            <% end %>
          </div>
        </div>

        <!-- Certifications / Licenses -->
        <div class="form with-line">
        <h3>Certifications / Licenses</h3>
          <%= form.fields_for :certifications do |certifications_form| %>
            <%= render "certification_fields", f: certifications_form %>
          <% end %>
          <div class="form-inside">
            <%= link_to_add_association form, :certifications, class: 'button gray add-url add-box' do %>
              <i class="fa fa-plus-circle"></i> Add Certification / License
            <% end %>
          </div>
        </div>

        <!-- Links -->
        <div class="form with-line">
        <h3>Links</h3>

          <div class="form-group">
            <h5>Blog URL</h5>
            <%= form.text_field :blog_url %>
          </div>

          <div class="form-group">
            <h5>Personal Homepage</h5>
            <%= form.text_field :personal_homepage %>
          </div>

          <div class="form-group">
            <h5>Facebook</h5>
            <%= form.text_field :facebook %>
          </div>

          <div class="form-group">
            <h5>Twitter</h5>
            <%= form.text_field :twitter %>
          </div>

        </div>

        <!-- Military service -->
        <div class="form with-line">
        <h3>Military service</h3>
          <%= form.fields_for :militaries do |militaries_form| %>
            <%= render "military_fields", f: militaries_form %>
          <% end %>
          <div class="form-inside">
            <%= link_to_add_association form, :militaries, class: 'button gray add-url add-box' do %>
              <i class="fa fa-plus-circle"></i> Add Military service
            <% end %>
          </div>
        </div>

        <!-- Awards -->
        <div class="form with-line">
        <h3>Awards</h3>
          <%= form.fields_for :awards do |awards_form| %>
            <%= render "award_fields", f: awards_form %>
          <% end %>
          <div class="form-inside">
            <%= link_to_add_association form, :awards, class: 'button gray add-url add-box' do %>
              <i class="fa fa-plus-circle"></i> Add Award
            <% end %>
          </div>
        </div>

        <!-- Groups -->
        <div class="form with-line">
        <h3>Groups</h3>
          <%= form.fields_for :groups do |groups_form| %>
            <%= render "group_fields", f: groups_form %>
          <% end %>
          <div class="form-inside">
            <%= link_to_add_association form, :groups, class: 'button gray add-url add-box' do %>
              <i class="fa fa-plus-circle"></i> Add Group
            <% end %>
          </div>
        </div>

        <!-- Patents -->
        <div class="form with-line">
        <h3>Patents</h3>
          <%= form.fields_for :patents do |patents_form| %>
            <%= render "patent_fields", f: patents_form %>
          <% end %>
          <div class="form-inside">
            <%= link_to_add_association form, :patents, class: 'button gray add-url add-box' do %>
              <i class="fa fa-plus-circle"></i> Add Patent
            <% end %>
          </div>
        </div>

        <!-- Publications -->
        <div class="form with-line">
        <h3>Publications</h3>
          <%= form.fields_for :publications do |publications_form| %>
            <%= render "publication_fields", f: publications_form %>
          <% end %>
          <div class="form-inside">
            <%= link_to_add_association form, :publications, class: 'button gray add-url add-box' do %>
              <i class="fa fa-plus-circle"></i> Add Publication
            <% end %>
          </div>
        </div>

        <!-- Additional information (text) -->
        <div class="form">
          <h5>Additional information (text)</h5>
          <%= form.text_area :additional_information_step_5 %>
        </div>

        <!-- Logo -->
        <div class="col-md-6">
          <div class="form-group">
            <h5>Photo <span>(optional)</span></h5>
            <%= form.file_field :profile_pic, class: 'fake-input' %>
          </div>
        </div>

        <div class="form">
          <%= form.submit "Submit", class: 'button' %>
        </div>

      <% end %>
    </div>
  </div>

</div>
