<div class="nested-fields">
	<div class="form boxed box-to-clone education-box">
		<div class="form">
		  <%= f.label :service_country %>
		  <%= f.text_field :service_country, class: '' %>
		</div>

		<div class="form">
		  <%= f.label :branch %>
		  <%= f.text_field :branch, class: '' %>
		</div>

		<div class="form">
		  <%= f.label :rank %>
		  <%= f.text_field :rank, class: '' %>
		</div>

		<h5>Time Period</h5>
		<div class="container">
			<div class="column">
				  <%= f.label :start_date %>
				  <%= f.date_field :start_date, class: '' %>
			</div>

			<div class="column">
				  <%= f.label :end_date %>
				  <%= f.date_field :end_date, class: '' %>
			</div>
		</div>

		<div class="form">
			<label>
		  	<%= f.check_box :i_am_currently_serving %> I am currently serving
			</label>
		</div>

		<div class="form">
		  <%= f.label :description %>
		  <%= f.text_area :description, row: 2, class: '' %>
		</div>

		<div class="form">
		  <%= f.label :commendations %>
		  <%= f.text_area :commendations, row: 2, class: '' %>
		</div>

		<%= link_to_remove_association f, class: "close-form remove-box button" do %>
		  <i class="fa fa-close"></i>
  	<% end %>
	</div>
</div>
