<div class="nested-fields">
	<div class="form boxed box-to-clone education-box">
		<div class="form">
		  <%= f.label :patent_number %>
		  <%= f.text_field :patent_number, class: '' %>
		</div>

		<div class="form">
		  <%= f.label :title %>
		  <%= f.text_field :title, class: '' %>
		</div>

		<div class="form">
		  <%= f.label :url %>
		  <%= f.text_field :url, class: '' %>
		</div>

		<div class="form">
		  <%= f.label :date_awarded %>
		  <%= f.date_field :date_awarded, class: '' %>
		</div>

		<div class="form">
		  <%= f.label :description %>
		  <%= f.text_area :description, row: 2, class: '' %>
		</div>

		<%= link_to_remove_association f, class: "close-form remove-box button" do %>
	    <i class="fa fa-close"></i>
	  <% end %>
	</div>
</div>
