<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>Bookmarked Resumes</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><a href="#">Home</a></li>
          <li>Bookmarked Resumes</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">

  <!-- Table -->
  <div class="sixteen columns">

    <p class="margin-bottom-25">Your bookmarked resumes can be viewed and unbookmarked below.</p>

    <table class="manage-table resumes responsive-table">
      <thead>
        <tr style="text-align: center;">
          <th>Name</th>
          <th>Desired Job Title</th>
          <th>Desired Salary (per month / per year) USD</th>
          <th>Degree</th>
          <th>Posted</th>
          <% if user_signed_in? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody id="jobs">
        <% @bookmarked_resumes.each do |bookmarked_resume| %>
          <tr style="text-align: center;">
            <td class="title"><%= link_to "#{bookmarked_resume.first_name} #{bookmarked_resume.last_name}", bookmarked_resume %></td>
            <td><%= bookmarked_resume.desired_job_title %></td>
            <td><%= bookmarked_resume.desired_salary_per_month %> / <%= bookmarked_resume.desired_salary_per_year %></td>
            <td><%= bookmarked_resume.degree %></td>
            <td><%= bookmarked_resume.created_at.strftime("%B %d, %Y") %></td>
            <% if user_signed_in? %>
              <td>
                <% if current_user.bookmark_resume?(bookmarked_resume) %>
                  <%= link_to unbookmark_resume_path(resume_id: bookmarked_resume.id), class: 'button dark', title: 'Unbookmark!', method: :delete do %>
                    <i class="fa fa-star"></i>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'Find more Resumes', allresumes_path, class: 'button' %>
  </div>
</div>
