<!-- Titlebar
================================================== -->
<div id="titlebar" class="resume photo-bg job-page-photo">
  <div class="container">
    <div class="ten columns">
      <div class="resume-titlebar">
        <% if @resume.profile_pic.present? %>
          <%= image_tag @resume.profile_pic, width: '100%' %>
        <% else %>
          <%= image_tag ('resumes-list-avatar-01.png'), width: '100%' %>
        <% end %>
        <%# image_tag placeholder_img(@resume.profile_pic, 'logo'), width: '100%', alt: "" %>
        <div class="resumes-list-content">
          <h4 class="resume-title-text"><%= @resume.first_name %> <%= @resume.last_name %> <span class="resume-title-text"><%= @resume.desired_job_title %></span></h4>
          <span class="icons resume-title-text"><i class="fa fa-map-marker resume-title-text"></i> <%= @resume.country %> / <%= @resume.city %></span>
          <span class="icons resume-title-text"><i class="fa fa-money resume-title-text"></i> $<%= @resume.desired_salary_per_month %> / month</span>
          <span class="icons">
            <%= link_to "http://#{@resume.personal_homepage}", target: :_blank do %>
              <i class="fa fa-link resume-title-text"></i> Website
            <% end %>
          </span>
          <span class="icons"><a href="mailto:<%= @resume.contact_information %>"><i class="fa fa-envelope resume-title-text"></i> <%= @resume.contact_information %></a></span>
          <span class="icons resume-title-text"><i class="fa fa-phone resume-title-text"></i> <%= @resume.phone %></span>
          <span class="icons resume-title-text">
            <% if @resume.status == "private_resume" %>
              <i class="fa fa-lock resume-title-text"></i> Privat Resume
            <% else %>
              <i class="fa fa-lock resume-title-text"></i> Public Resume
            <% end %>
          </span>
          <div class="skills">
            <% @resume.skills.each do |skill| %>
            <span><%= skill.title %></span>
            <% end %>
          </div>
          <div class="clearfix"></div>

        </div>
      </div>
    </div>

    <div class="six columns">
      <div class="two-buttons">
        <div class="six columns">
        <%= render 'invite_button' %>
      </div>
        <% if user_signed_in? && @resume.user_id != current_user.id %>
          <% if current_user.bookmark_resume?(@resume) %>
            <%= link_to unbookmark_resume_path(resume_id: @resume.id), class: 'button dark resume-title-button', title: 'Unbookmark!', method: :delete do %>
              <i class="fa fa-star"></i> UNbookmark Resume
            <% end %>
          <% else %>
            <%= link_to bookmark_resume_path(resume_id: @resume.id), class: 'button dark resume-title-button', alt: 'Bookmark!', title: 'Bookmark!' do %>
              <i class="fa fa-star"></i> Bookmark Resume
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>


<!-- Content
================================================== -->
<div class="container">

  <div class="eight columns">
  <div class="padding-right">

    <h3 class="margin-bottom-15">Additional information</h3>

    <p class="margin-reset">
      <%= simple_format(@resume.additional_information_step_4) %>
    </p>

    <br>

    <p><strong><%= @resume.desired_job_title %></strong> (
      <% @resume.job_type_ids.each do |j| %>
        <%= JobType.find_by_id(j).title %>
      <% end %>
    )</p>

    <ul class="list-1">
      <li>Desired salary per month USD: <%= @resume.desired_salary_per_month %></li>
      <li>Desired salary per year USD: <%= @resume.desired_salary_per_year %></li>
      <li>I am willing to relocate: <%= @resume.relocation ? 'Yes' : 'No' %></li>
      <li>Employment eligibility:
        <% if @resume.employment_eligibility == "authorized" %>
          Authorized to work in the country where you located
        <% else %>
          Sponsorship required to work in the country
        <% end %>
      </li>
    </ul>

<!-- Skills -->
  <% if @resume.skills.present? %>
  <hr>
    <h3 class="margin-bottom-15">Skills</h3>
    <p>Title (Years of experience)</p>
    <ul class="list-1">
      <% @resume.skills.each do |s| %>
      <li><%= s.title %> (<%= s.experience %>)</li>
      <% end %>
    </ul>
  <% end %>

<!-- Links -->
  <hr>
    <h3 class="margin-bottom-15">Links</h3>
    <ul class="list-1">
      <% if @resume.blog_url.present? %>
        <li>Blog: <%= @resume.blog_url %></li>
      <% end %>
      <% if @resume.personal_homepage.present? %>
        <li>Personal Homepage: <%= @resume.personal_homepage %></li>
      <% end %>
      <% if @resume.facebook.present? %>
        <li>Facebook: <%= @resume.facebook %></li>
      <% end %>
      <% if @resume.twitter.present? %>
        <li>Twitter: <%= @resume.twitter %></li>
      <% end %>
    </ul>

<!-- Certifications / Licenses -->
  <% if @resume.certifications.present? %>
  <hr>
    <h3 class="margin-bottom-15">Certifications / Licenses</h3>
      <% @resume.certifications.each do |c| %>
        <ul class="list-1">
          <li>Title: <%= c.title %></li>
          <li>Time Period: <%= c.start_date.strftime("%B %d, %Y") %> - <%= c.end_date.strftime("%B %d, %Y") %></li>
        </ul>

        <p><%= c.description %></p>
      <% end %>
  <% end %>

<!-- Awards -->
  <% if @resume.awards.present? %>
  <hr>
    <h3 class="margin-bottom-15">Awards</h3>
      <% @resume.awards.each do |a| %>
        <ul class="list-1">
          <li>Title: <%= a.title %></li>
          <li>Date awarded: <%= a.date_awarded.strftime("%B %d, %Y") %></li>
        </ul>

        <p><%= a.description %></p>
      <% end %>
  <% end %>

<!-- Groups -->
  <% if @resume.groups.present? %>
  <hr>
    <h3 class="margin-bottom-15">Groups</h3>
      <% @resume.groups.each do |g| %>
        <ul class="list-1">
          <li>Title: <%= g.title %></li>
          <li>Time Period: <%= g.start_date.strftime("%B %d, %Y") %> - <%= g.end_date.strftime("%B %d, %Y") %></li>
          <li>I am till a member: <%= g.i_am_still_a_member ? 'Yes' : 'No' %></li>
        </ul>

        <p><%= g.description %></p>
      <% end %>
  <% end %>


<!-- Patents -->
  <% if @resume.patents.present? %>
  <hr>
    <h3 class="margin-bottom-15">Patents</h3>
      <% @resume.patents.each do |p| %>
        <ul class="list-1">
          <li>Patent Number: <%= p.patent_number %></li>
          <li>Title: <%= p.title %></li>
          <li>Url: <%= p.url %></li>
          <li>Date Awarded: <%= p.date_awarded.strftime("%B %d, %Y") %></li>
        </ul>

        <p><%= p.description %></p>
      <% end %>
  <% end %>

<!-- Publications -->
  <% if @resume.publications.present? %>
  <hr>
    <h3 class="margin-bottom-15">Publications</h3>
      <% @resume.publications.each do |p| %>
        <ul class="list-1">
          <li>Title: <%= p.title %></li>
          <li>Url: <%= p.url %></li>
          <li>Date Published: <%= p.date_published.strftime("%B %d, %Y") %></li>
        </ul>

        <p><%= p.description %></p>
      <% end %>
  <% end %>

  </div>
  </div>


<!-- Widgets -->
  <div class="eight columns">

<!-- Education -->
  <% if @resume.education_start_date.present? || @resume.education_end_date.present? %>
    <h3 class="margin-bottom-20">Education</h3>
    <dl class="resume-table">
      <dt>
        <small class="date">
          <%= @resume.education_start_date.strftime("%B %d, %Y") if @resume.education_start_date.present? %> - <%= @resume.education_end_date.strftime("%B %d, %Y") if @resume.education_end_date.present? %>
        </small>
        <strong>
          <%= @resume.degree %> at <%= @resume.school %> (<%= @resume.field_of_study %>)
        </strong>
      </dt>
      <dd>
        <p><%= @resume.education_country %> / <%= @resume.education_city %></p>
      </dd>
    </dl>
  <% end %>

<!-- Work Experience -->
  <% if @resume.work_experiences.present? %>
  <hr>
    <h3 class="margin-bottom-20">Work Experience</h3>
    <dl class="resume-table">
      <% @resume.work_experiences.each do |w| %>
      <dt>
        <small class="date">
          <%= w.start_date.strftime("%B %d, %Y") if w.start_date.present? %> - <%= w.end_date.strftime("%B %d, %Y") if w.end_date.present? %>
        </small>
        <strong>
          <%= w.job_title %> at <%= w.company %> (<%= JobType.find_by_id(w.job_type_work_exp).title %>)
        </strong>
      </dt>
      <dd>
        <ul class="list-1">
          <li>Country / City: <%= w.country %> / <%= w.city %></li>
          <% if w.less_than_one_year == false %>
            <li>Years of experience: <%= w.years_of_experience %></li>
          <% else %>
            <li>Less then one year: Yes</li>
          <% end %>
          <li>Salaries USD: <%= w.salary if w.salary_status == 'show' %></li>
          <li>I currently work here: <%= w.i_currently_work_here ? 'Yes' : 'No' %></li>
        </ul>
        <p><%= simple_format(w.job_description) %></p>
      </dd>

      <% end %>
    </dl>
  <% end %>


<!-- Military service -->
  <% if @resume.militaries.present? %>
  <hr>
    <h3 class="margin-bottom-20">Military service</h3>
    <dl class="resume-table">
      <% @resume.militaries.each do |m| %>
      <dt>
        <small class="date">
          <%= m.start_date.strftime("%B %d, %Y") %> - <%= m.end_date.strftime("%B %d, %Y") %>
        </small>
        <strong>
          <%= m.rank %> at <%= m.service_country %> (<%= m.branch %>)
        </strong>
      </dt>
      <dd>
        <ul class="list-1">
          <li>I am currently Serving: <%= m.i_am_currently_serving ? 'Yes' : 'No' %></li>
        </ul>

        <p><%= m.description %></p>
        <p><bold>Commendations: </bold> <%= m.commendations %></p>
      </dd>

      <% end %>
    </dl>
  <% end %>

  </div>
</div>

<div class="container">
<%= link_to 'Edit', edit_resume_path(@resume), class: 'button' if user_signed_in? && @resume.user_id == current_user.id %>
<%= link_to 'Back', resumes_path, class: 'button' %>
</div>
