<!DOCTYPE html>
<html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>

    <meta charset="utf-8">
    <title>ListingApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="verifyownership" 
     content="797344bd9a2c7b98e5fea8962c0015ff"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'colors/green.css', id: 'colors' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Prevent duplicate on this page when we click back on brouser -->
    <% if current_page?(allcompanies_path) || current_page?(allresumes_path) || current_page?(alljobs_path) || current_page?(manage_jobseeker_path) || current_page?(manage_recruiter_path) %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    
  </head>

  <body>
    <div id="wrapper">

      <!-- Header
      ================================================== -->
      <%= render 'shared/nav' %>

      <%= yield %>

      <%= render 'shared/alerts' %>

      <!-- Footer
      ================================================== -->
      <%= render 'shared/footer' %>

      <!-- Back To Top Button -->
      <div id="backtotop"><a href="#"></a></div>

    </div>
    <!-- Wrapper / End -->

    <!-- Style Switcher
    ================================================== -->
    <%# render 'shared/theme_switcher' %>

  </body>
</html>
